<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/">

<th:block th:fragment="head">
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</th:block>

<th:block th:fragment="styles"><!--styles--></th:block>

<th:block th:fragment="scripts"><!--scripts--></th:block>

<th:block th:fragment="alerts">
    <th:block th:unless="${@alerts.isEmpty()}">
        <th:block th:each="alert:${@alerts.getAlertsOnce()}">
            <div th:class="${'alert alert-'+alert.type.cssClass+(alert.dismissible?' alert-dismissible':'')}">
                <h4 class="alert-heading">
                    <th:block th:text="${alert.message}"><!--message--></th:block>
                </h4>
                <p th:text="${alert.description}" th:unless="${alert.raw}"><!--text--></p>
                <p th:if="${alert.raw}" th:utext="${alert.description}"><!--html--></p>
                <button class="close" data-dismiss="alert" th:if="${alert.dismissible}" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="footer">
    <footer class="footer mt-auto py-3" layout:fragment="footer">
        <div class="container">
            <div class="text-muted float-left">
                <!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
                <th:block th:text="${applicationName}">applicationName</th:block>
                <!--/*@thymesVar id="applicationBuild" type="java.lang.String"*/-->
                <th:block th:text="${applicationBuild}">applicationBuild</th:block>
            </div>
            <div class="text-muted float-right">
                &copy;
                <!--/*@thymesVar id="applicationInceptionYear" type="java.lang.String"*/-->
                <th:block th:text="${applicationInceptionYear}">applicationInceptionYear</th:block>

                <!--/*@thymesVar id="applicationOrganizationName" type="java.lang.String"*/-->
                <!--/*@thymesVar id="applicationOrganizationUrl" type="java.lang.String"*/-->
                <a href="#" target="_blank" th:href="${applicationOrganizationUrl}"
                   th:text="${applicationOrganizationName}">applicationOrganizationName:applicationOrganizationUrl</a>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="header-navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
        <a class="navbar-brand" href="#" th:href="@{/}" th:text="${applicationName}">application</a>
        <button class="navbar-toggler" data-target="#navbarCollapse"
                data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <th:block th:replace="app/fragments::navbar-letters"><!--letters--></th:block>
            <th:block th:replace="app/fragments::navbar-search"><!--search--></th:block>
        </div>
    </nav>
</th:block>

<th:block th:fragment="navbar-letters">
    <ul class="navbar-nav mr-auto">
        <!--/*@thymesVar id="countByLetter" type="java.util.Map<gargoyle.heartsong.model.app.Letter, java.lang.Integer>"*/-->
        <th:block th:each="entry:${countByLetter}">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/{letter}(letter=${entry.key.chr})}"
                   th:if="${entry.value ne 0}"
                   th:text="${entry.key.chr}">
                    <!--Link-->
                </a>
                <a class="nav-link disabled" href="#" th:if="${entry.value eq 0}" th:text="${entry.key.chr}">
                    <!--Disabled-->
                </a>
            </li>
        </th:block>
    </ul>
</th:block>

<th:block th:fragment="navbar-search">
    <form class="form-inline mt-2 mt-md-0" method="post" th:action="@{/search}">
        <!--/*@thymesVar id="query" type="java.lang.String"*/-->
        <input aria-label="" class="form-control mr-sm-2" name="query" th:placeholder="#{search}"
               th:value="${query}" type="text">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <th:block th:text="#{search}">Search</th:block>
        </button>
    </form>
</th:block>

</html>
